  'objectstore' => [
    'class' => 'OCA\Files_Primary_S3\S3Storage',
    'arguments' => [
      'bucket' => '{{ s3_bucket }}',
      'options' => [
        'version' => '{{ s3_version }}',
        'region'  => '{{ s3_region }}',
        'credentials' => [
          'key'    => '{{ s3_key }}',
          'secret' => '{{ s3_secret }}',
        ],
        'use_path_style_endpoint' => {{ s3_use_path_style_endpoint }},
        'endpoint' => '{{ s3_endpoint }}',
      ],
    ],
  ],
