#jinja2: trim_blocks: False
# {{ ansible_managed }}
#
# These groups are read by MariaDB server.
# Use it for options that only the server (but not clients) should see
#
# See the examples of server my.cnf files in /usr/share/mysql/
#

# this is read by the standalone daemon and embedded servers
[server]
skip-name-resolve            = ON
innodb_buffer_pool_size      = 512M
innodb_buffer_pool_instances = 1
innodb_log_file_size         = 64M
thread_cache_size            = 4
query_cache_size             = 0
query_cache_type             = 1
query_cache_limit            = 64M
table_cache                  = 4096
key_buffer_size              = 64M
join_buffer_size             = 1M

# this is only for the mysqld standalone daemon
[mysqld]

# this is only for embedded server
[embedded]

# This group is only read by MariaDB servers, not by MySQL.
# If you use the same .cnf file for MySQL and MariaDB,
# you can put MariaDB-only options here
[mariadb]

# This group is only read by MariaDB-10.1 servers.
# If you use the same .cnf file for MariaDB of different versions,
# use this group for options that older servers don't understand
[mariadb-10.1]
