#jinja2: trim_blocks: False
# {{ ansible_managed }}
#
# These groups are read by MariaDB server.
# Use it for options that only the server (but not clients) should see
#
# See the examples of server my.cnf files in /usr/share/mysql/
#

# this is read by the standalone daemon and embedded servers
[server]

# this is only for the mysqld standalone daemon
[mysqld]

#
# * Galera-related settings
#
[galera]
# Mandatory settings
#wsrep_on=ON
#wsrep_provider=
#wsrep_cluster_address=
#binlog_format=row
#default_storage_engine=InnoDB
#innodb_autoinc_lock_mode=2
#
# Allow server to accept connections on all interfaces.
#
#bind-address=0.0.0.0
#
# Optional setting
#wsrep_slave_threads=1
#innodb_flush_log_at_trx_commit=0

# this is only for embedded server
[embedded]

# This group is only read by MariaDB servers, not by MySQL.
# If you use the same .cnf file for MySQL and MariaDB,
# you can put MariaDB-only options here
[mariadb]
log-error                       = /var/log/mysql/mysql.log
log_warnings                    = 2
user                            = mysql
binlog_format                   = ROW
default-storage-engine          = innodb
datadir                         = /var/lib/mysql

performance_schema		= ON

innodb_buffer_pool_size         = {{ mariadb_innodb_buffer_pool_size }}
innodb_buffer_pool_instances    = {{ mariadb_innodb_buffer_pool_instances }}
innodb_log_file_size            = {{ mariadb_innodb_log_file_size }}
innodb_log_buffer_size          = {{ mariadb_innodb_log_buffer_size }}
innodb_file_per_table           = {{ mariadb_innodb_file_per_table }}
innodb_lock_wait_timeout        = {{ mariadb_innodb_lock_wait_timeout }}

innodb_autoinc_lock_mode        = {{ mariadb_innodb_autoinc_lock_mode }}

innodb_flush_log_at_trx_commit  = {{ mariadb_innodb_flush_log_at_trx_commit }}

innodb_io_capacity              = {{ mariadb_innodb_io_capacity }}
innodb_read_io_threads          = {{ mariadb_innodb_read_io_threads }}
innodb_write_io_threads         = {{ mariadb_innodb_write_io_threads }}
innodb_doublewrite              = {{ mariadb_innodb_doublewrite }}

transaction_isolation           = {{ mariadb_transaction_isolation }}
thread_cache_size               = {{ mariadb_thread_cache_size }}
max_connections                 = {{ mariadb_max_connections }}
max_connect_errors              = {{ mariadb_max_connect_errors }}
query_cache_size                = {{ mariadb_query_cache_size }}
query_cache_type                = {{ mariadb_query_cache_type }}
query_cache_limit               = {{ mariadb_query_cache_limit }}
table_cache                     = {{ mariadb_table_cache }}
tmp_table_size                  = {{ mariadb_tmp_table_size }}
max_heap_table_size             = {{ mariadb_max_heap_table_size }}
max_allowed_packet              = {{ mariadb_max_allowed_packet }}
key_buffer_size                 = {{ mariadb_key_buffer_size }}

# This group is only read by MariaDB-10.1 servers.
# If you use the same .cnf file for MariaDB of different versions,
# use this group for options that older servers don't understand
[mariadb-10.1]
