  'instanceid' => 'ocvqlsay8x29',
  'passwordsalt' => 'yUGP5vwEB6JrLPmtoY2H/fcwImrBE3',
  'secret' => 'gehCG6FOnDwpOfMH3av/p1Sy1EGmQWMbjnfQSIqU66htPu1H',
  'trusted_domains' => 
  array (
    0 => 'localhost:8080',
  ),
  'datadirectory' => '/var/www/html/owncloud-8.2.11/data',
  'overwrite.cli.url' => 'http://localhost:8080/owncloud-8.2.11',
  'dbtype' => 'mysql',
  'version' => '8.2.11.1',
  'dbname' => 'owncloud-8211',
  'dbhost' => 'localhost',
  'dbtableprefix' => 'oc_',
  'dbuser' => 'owncloud-8211',
  'dbpassword' => 'owncloud-8211',
  'logtimezone' => 'UTC',
  'memcache.locking' => '\OC\Memcache\Redis',
  'redis' => array(
    'host' => 'localhost',
    'port' => 6379,
   ),
  'installed' => true,
