<?php
$CONFIG = array (
  'instanceid' => 'ocrejzk70fw7',
  'passwordsalt' => '723eB7idlrcanEU2ljRmxdJb99ZUpo',
  'secret' => 'YxtAL3uWi3wYRUrT+O1i8YIuzlew5WTlriY0xS/7bamL1uq8',
  'trusted_domains' => 
  array (
    0 => 'localhost:8080',
  ),
  'datadirectory' => '/var/www/html/owncloud-10.0.9/data',
  'overwrite.cli.url' => 'http://localhost:8080/owncloud-10.0.9',
  'dbtype' => 'mysql',
  'version' => '10.0.9.5',
  'dbname' => 'owncloud-1009',
  'dbhost' => 'localhost:3306',
  'dbtableprefix' => 'oc_',
  'dbuser' => 'owncloud-1009',
  'dbpassword' => 'owncloud-1009',
  'logtimezone' => 'UTC',
  'memcache.locking' => '\OC\Memcache\Redis',
  'redis' => [
    'host' => 'localhost',
    'port' => 6379,
    'timeout' => 0,
  ],
  'installed' => true,
);
