<?php
$CONFIG = array (
  'instanceid' => 'ocrsse2qukrz',
  'passwordsalt' => 'W976w1Al1Z+PmjzU8qMsanPjxa3ciK',
  'secret' => 'AqGHdrjRDk+yApOxqcsKH+j76/dHTtHyyLr40ogPGpL6vRil',
  'trusted_domains' => 
  array (
    0 => 'localhost:8080',
  ),
  'datadirectory' => '/var/www/html/owncloud-10.2.1/data',
  'overwrite.cli.url' => 'http://localhost:8080/owncloud-10.2.1',
  'dbtype' => 'mysql',
  'version' => '10.2.1.4',
  'dbname' => 'owncloud-1021',
  'dbhost' => 'localhost',
  'dbtableprefix' => 'oc_',
  'dbuser' => 'owncloud-1021',
  'dbpassword' => 'owncloud-1021',
  'logtimezone' => 'UTC',
  'apps_paths' => 
  array (
    0 => 
    array (
      'path' => '/var/www/html/owncloud-10.2.1/apps',
      'url' => '/apps',
      'writable' => false,
    ),
    1 => 
    array (
      'path' => '/var/www/html/owncloud-10.2.1/apps-external',
      'url' => '/apps-external',
      'writable' => true,
    ),
  ),
  'installed' => true,
);
