  'instanceid' => 'oc4j4i1lit1k',
  'passwordsalt' => 'NcUgFyxkups0b9TwzLdvPH8AsaZTSe',
  'secret' => 'f4gQdt3R0MoUcyKPPExe+UafsbW1tPlKtncgzT3PYK1SgjH/',
  'trusted_domains' => 
  array (
    0 => 'localhost:8080',
  ),
  'datadirectory' => '/var/www/html/owncloud-10.4.1/data',
  'overwrite.cli.url' => 'http://localhost:8080/owncloud-10.4.1',
  'dbtype' => 'mysql',
  'version' => '10.4.1.3',
  'dbname' => 'owncloud-1041',
  'dbhost' => 'localhost',
  'dbtableprefix' => 'oc_',
  'dbuser' => 'owncloud-1041',
  'dbpassword' => 'owncloud-1041',
  'logtimezone' => 'UTC',
  'apps_paths' => 
  array (
    0 => 
    array (
      'path' => '/var/www/html/owncloud-10.4.1/apps',
      'url' => '/apps',
      'writable' => false,
    ),
    1 => 
    array (
      'path' => '/var/www/html/owncloud-10.4.1/apps-external',
      'url' => '/apps-external',
      'writable' => true,
    ),
  ),
  'installed' => true,
