<?php
$CONFIG = array (
  'instanceid' => 'ocyf3cz495dw',
  'passwordsalt' => 'ExYueyxUnJQTCVlZ/4h9ukU2R+Wtgo',
  'secret' => 'Wz54VOMeU1woZZ9nXaCmR1blVGYvQke6JPpEFU6FAQfBhcEQ',
  'trusted_domains' => 
  array (
    0 => 'localhost:8080',
  ),
  'datadirectory' => '/var/www/html/owncloud-10.0.10/data',
  'overwrite.cli.url' => 'http://localhost:8080/owncloud-10.0.10',
  'dbtype' => 'mysql',
  'version' => '10.0.10.4',
  'dbname' => 'owncloud-10010',
  'dbhost' => 'localhost',
  'dbtableprefix' => 'oc_',
  'dbuser' => 'owncloud-10010',
  'dbpassword' => 'owncloud-10010',
  'logtimezone' => 'UTC',
  'memcache.locking' => '\OC\Memcache\Redis',
  'redis' => [
    'host' => 'localhost',
    'port' => 6379,
    'timeout' => 0,
  ],
  'installed' => true,
);
