  'instanceid' => 'ocsexk0u3sly',
  'passwordsalt' => 'kN5dQpPbCTJlThnotV4kCXicIxmSob',
  'secret' => '9X7wSAvXVyCcAGx/pboxoRWnwdHAdXApv1FedtdDvI4IbTOj',
  'trusted_domains' => 
  array (
    0 => 'localhost:8080',
  ),
  'datadirectory' => '/var/www/html/owncloud-10.1.0/data',
  'overwrite.cli.url' => 'http://localhost:8080/owncloud-10.1.0',
  'dbtype' => 'mysql',
  'version' => '10.1.0.4',
  'dbname' => 'owncloud-1010',
  'dbhost' => 'localhost',
  'dbtableprefix' => 'oc_',
  'dbuser' => 'owncloud-1010',
  'dbpassword' => 'owncloud-1010',
  'logtimezone' => 'UTC',
  'installed' => true,
