  'instanceid' => 'ocf1p3bs3ph3',
  'passwordsalt' => 'ZMqX1sJEzHXBUQQc6dzsswxvzu0BA+',
  'secret' => 'Pv6tCdtcw+XnaiE2p9I52pv0YqkV7ol5X3mQ7Md4VG1r5IsQ',
  'trusted_domains' => 
  array (
    0 => 'localhost:8080',
  ),
  'datadirectory' => '/var/www/html/owncloud-10.3.1/data',
  'overwrite.cli.url' => 'http://localhost:8080/owncloud-10.3.1',
  'dbtype' => 'mysql',
  'version' => '10.3.1.1',
  'dbname' => 'owncloud-1031',
  'dbhost' => 'localhost',
  'dbtableprefix' => 'oc_',
  'dbuser' => 'owncloud-1031',
  'dbpassword' => 'owncloud-1031',
  'logtimezone' => 'UTC',
  'apps_paths' => 
  array (
    0 => 
    array (
      'path' => '/var/www/html/owncloud-10.3.1/apps',
      'url' => '/apps',
      'writable' => false,
    ),
    1 => 
    array (
      'path' => '/var/www/html/owncloud-10.3.1/apps-external',
      'url' => '/apps-external',
      'writable' => true,
    ),
  ),
  'installed' => true,
