<?php
$CONFIG = array (
  'instanceid' => 'oca5f6063rfo',
  'passwordsalt' => 'e5fFqYWLndD+LkZs/AmJHN0W9rf7wB',
  'secret' => 'rogPnZ7+ocs5izXBcqPjcmXuTzagfbuvPd4+NGCxQ8IGjRKV',
  'trusted_domains' => 
  array (
    0 => 'localhost:8080',
  ),
  'datadirectory' => '/var/www/html/owncloud-10.0.3/data',
  'overwrite.cli.url' => 'http://localhost:8080/owncloud-10.0.3',
  'dbtype' => 'mysql',
  'version' => '10.0.3.3',
  'dbname' => 'owncloud-1003',
  'dbhost' => 'localhost:3306',
  'dbtableprefix' => 'oc_',
  'dbuser' => 'owncloud-1003',
  'dbpassword' => 'owncloud-1003',
  'logtimezone' => 'UTC',
  'memcache.locking' => '\OC\Memcache\Redis',
  'redis' => [
    'host' => 'localhost',
    'port' => 6379,
  ],
  'installed' => true,
);
