#!/bin/bash

cd /opt/apache-jmeter-{{ jmeter_version }}

{% for installation in xcloud_versions|dict2items %}
{% for version in installation.value %}
./run.sh {{ installation.key }} {{ version }} $1
{% endfor %}
{% endfor %}
