  'instanceid' => 'oc7vpdw8mpl3',
  'passwordsalt' => 'lAT9MhPqnIm8BCNU0lmIFimkzHXJCe',
  'secret' => 'fM2Q6Ksi7Qp1R3cJtjhv3Vx/Qsfsef2sHOEH9sNeXgfd4DUM',
  'trusted_domains' => 
  array (
    0 => 'localhost:8080',
  ),
  'datadirectory' => '/var/www/html/nextcloud-10.0.6/data',
  'overwrite.cli.url' => 'http://localhost:8080/nextcloud-10.0.6',
  'dbtype' => 'mysql',
  'version' => '9.1.6.1',
  'dbname' => 'nextcloud-1006',
  'dbhost' => 'localhost',
  'dbport' => '',
  'dbtableprefix' => 'oc_',
  'dbuser' => 'nextcloud-1006',
  'dbpassword' => 'nextcloud-1006',
  'logtimezone' => 'UTC',
  'memcache.locking' => '\OC\Memcache\Redis',
  'redis' => [
    'host' => 'localhost',
    'port' => 6379,
  ],
  'installed' => true,
