<?php
$CONFIG = array (
  'instanceid' => 'oc5sfthxogm6',
  'passwordsalt' => '1IL7/iFP62+LK0C4U0VO8M1v0743M9',
  'secret' => 'qNz+tV8GwFVCP/41nY087YDzD9Wq5/oCdTwosz5PSTiY4uUS',
  'trusted_domains' => 
  array (
    0 => 'localhost:8080',
  ),
  'datadirectory' => '/var/www/html/nextcloud-13.0.5/data',
  'overwrite.cli.url' => 'http://localhost:8080/nextcloud-13.0.5',
  'dbtype' => 'mysql',
  'version' => '13.0.5.2',
  'dbname' => 'nextcloud-1305',
  'dbhost' => 'localhost',
  'dbport' => '',
  'dbtableprefix' => 'oc_',
  'dbuser' => 'nextcloud-1305',
  'dbpassword' => 'nextcloud-1305',
  'installed' => true,
);
