  'instanceid' => 'oc5k8y6gcasc',
  'passwordsalt' => 'v0fb2UQwGwln4uazHIx4tSlCxTtPpS',
  'secret' => 'pccY76WH4zDppTwcubjzgTExr+a4IFRmYxqYTf6h1ukwZn1H',
  'trusted_domains' => 
  array (
    0 => 'localhost:8080',
  ),
  'datadirectory' => '/var/www/html/nextcloud-11.0.8/data',
  'overwrite.cli.url' => 'http://localhost:8080/nextcloud-11.0.8',
  'dbtype' => 'mysql',
  'version' => '11.0.8.1',
  'dbname' => 'nextcloud-1108',
  'dbhost' => 'localhost',
  'dbport' => '',
  'dbtableprefix' => 'oc_',
  'dbuser' => 'nextcloud-1108',
  'dbpassword' => 'nextcloud-1108',
  'logtimezone' => 'UTC',
  'memcache.locking' => '\OC\Memcache\Redis',
  'redis' => [
    'host' => 'localhost',
    'port' => 6379,
  ],
  'installed' => true,
