  'instanceid' => 'ocgphmminphf',
  'passwordsalt' => 'oLxiPCmte6TzKu3st23h9Bi2cKSCFZ',
  'secret' => '8OR+G4dGo9p2w3gQA9/I/Nz5xwFqSEgQyRZkzH2e3/I82ICG',
  'trusted_domains' => 
  array (
    0 => 'localhost:8080',
  ),
  'datadirectory' => '/var/www/html/nextcloud-14.0.6/data',
  'dbtype' => 'mysql',
  'version' => '14.0.6.0',
  'overwrite.cli.url' => 'http://localhost:8080/nextcloud-14.0.6',
  'dbname' => 'nextcloud-1406',
  'dbhost' => 'localhost',
  'dbport' => '',
  'dbtableprefix' => 'oc_',
  'dbuser' => 'nextcloud-1406',
  'dbpassword' => 'nextcloud-1406',
  'installed' => true,
