  'instanceid' => 'oc71k7hktjjf',
  'passwordsalt' => 'zP8xH+zUkKIuTwOomnGqppxWKpc0zv',
  'secret' => '1GRFa2So/dlggv/kwnPSl8g7zLwyWM9surHV3i8NAJpKGjqH',
  'trusted_domains' => 
  array (
    0 => 'localhost:8080',
  ),
  'datadirectory' => '/var/www/html/nextcloud-15.0.2/data',
  'dbtype' => 'mysql',
  'version' => '15.0.2.0',
  'overwrite.cli.url' => 'http://localhost:8080/nextcloud-15.0.2',
  'dbname' => 'nextcloud-1502',
  'dbhost' => 'localhost',
  'dbport' => '',
  'dbtableprefix' => 'oc_',
  'dbuser' => 'nextcloud-1502',
  'dbpassword' => 'nextcloud-1502',
  'installed' => true,
